In [1]:
!uv pip install -U pandas orjson

Using Python 3.13.7 environment at: /home/richie/halfway-db/.venv
Resolved 7 packages in 63ms
Prepared 1 package in 1ms
Uninstalled 1 package in 268ms
Installed 1 package in 109ms
 - pandas==2.3.2
 + pandas==2.3.3

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
stops_df = pd.read_csv("./Stops.csv")

/tmp/ipykernel_5301/3608135427.py:1: DtypeWarning: Columns (1,2,6,8,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  stops_df = pd.read_csv("./Stops.csv")

In [4]:
#https://naptan.dft.gov.uk/naptan/schema/2.5/doc/NaPTANSchemaGuide-2.5-v0.67.pdf page 52
#StopType
#RPL Rail Platorm
#RLY Rail Access
#RSE Rail Entrance
#tramMetroOrUndergroundPlatform = PLT
#tramMetroOrUndergroundAccess = MET
#tramMetroOrUndergroundEntrance = TMU

#StopAreaClassification
#TramMetroOrUndergroundStation = GTMU
#railStation = GRLS

#stop_types_to_keep = ["RPL", "RLY","RSE","PLT", "MET", "TMU"]
stop_types_to_keep = ["RPL", "PLT"]
stop_types_to_keep = ["RLY", "MET"]



# I think RLY is station and RSE is station Entrance
stops_df = stops_df.loc[stops_df['StopType'].isin(stop_types_to_keep)].dropna(how='all', axis=1)

In [5]:
len(stops_df)

3674

In [8]:
stops_df.sample(10)

,ATCOCode,NaptanCode,CommonName,ShortCommonName,Landmark,Street,Indicator,NptgLocalityCode,LocalityName,ParentLocalityName,Town,Suburb,LocalityCentre,GridType,Easting,Northing,Longitude,Latitude,StopType,AdministrativeAreaCode,CreationDateTime,ModificationDateTime,RevisionNumber,Modification,Status
428571,9100GTCHSFD,NaN,Great Chesterford Rail Station,NaN,NaN,-,NaN,E0046393,Great Chesterford,NaN,NaN,NaN,1.0,UKOS,550478,242429,0.193521,52.059811,RLY,110,2006-09-08T14:30:00,2007-09-26T13:00:00,1.0,revise,active
429467,9100PYBONT,NaN,Pen-y-Bont Rail Station,NaN,NaN,-,NaN,E0054642,Penybont,NaN,NaN,NaN,1.0,UKOS,309900,264800,-3.321931,52.273943,RLY,110,2006-09-08T14:30:00,2007-09-26T13:00:00,1.0,revise,active
432774,9400ZZMAFIR,mantpdpm,Firswood (Manchester Metrolink),Firswood,NaN,Off Rye Bank Road,NaN,E0028403,Firswood,NaN,NaN,NaN,1.0,UKOS,381656,394974,-2.277688,53.451204,MET,147,2011-03-01T15:30:00,2025-05-14T09:27:13,4.0,revise,active
429301,9100NWTOA,NaN,Newton-on-Ayr Rail Station,NaN,NaN,-,NaN,N0072969,Newton-On-Ayr,Ayr,NaN,NaN,1.0,UKOS,234130,623160,-4.625826,55.474053,RLY,110,2006-09-08T14:30:00,2008-02-07T11:07:00,2.0,revise,active
429817,9100STPXBOX,NaN,London St Pancras International LL Rail Station,NaN,NaN,-,NaN,E0034186,St Pancras,London,NaN,NaN,1.0,UKOS,529990,183135,-0.127343,51.532168,RLY,110,2007-09-19T15:00:00,2010-08-16T13:58:00,4.0,revise,active
432555,9400ZZLUUPK,NaN,Upton Park Underground Station,NaN,TBA,-,NaN,E0034715,Upton Park,London,NaN,NaN,0.0,UKOS,541258,183789,0.035263,51.535340,MET,147,2005-09-26T00:00:00,2007-09-26T09:00:00,1.0,revise,active
429103,9100MELS,NaN,Meols Rail Station,NaN,NaN,-,NaN,N0065038,Meols,Hoylake,Southport,Meols,1.0,UKOS,323350,389800,-3.154269,53.399439,RLY,110,2006-09-08T14:30:00,2007-09-26T13:00:00,1.0,revise,active
428831,9100KENNETT,NaN,Kennett Rail Station,NaN,NaN,-,NaN,E0043674,Kennett,NaN,NaN,NaN,1.0,UKOS,570002,267267,0.490465,52.277264,RLY,110,2006-11-17T09:19:00,2007-09-26T13:00:00,1.0,revise,active
428161,9100CRTN,NaN,Carlton Rail Station,NaN,NaN,-,NaN,E0020556,Carlton,NaN,NaN,NaN,1.0,UKOS,461980,341255,-1.078655,52.965087,RLY,110,2006-09-08T14:30:00,2011-01-24T11:17:00,3.0,revise,active
432589,9400ZZLUWHP,NaN,West Hampstead Underground Station,NaN,TBA,-,NaN,E0034188,West Hampstead,London,NaN,NaN,0.0,UKOS,525531,184633,-0.191059,51.546638,MET,147,2005-09-26T00:00:00,2007-09-26T09:00:00,1.0,revise,active

In [13]:
corpus_df = pd.read_json("./CORPUSExtract.json")
corpus_df = pd.json_normalize(corpus_df["TIPLOCDATA"])
corpus_df["TIPLOC"] = corpus_df["TIPLOC"].astype(str).str.strip().replace("", pd.NA)

In [16]:
tiploc_df = corpus_df.dropna(subset=["TIPLOC"])
len(tiploc_df)

12292

In [17]:
tiploc_df.sample(10)

,NLC,STANOX,TIPLOC,3ALPHA,UIC,NLCDESC,NLCDESC16
40556,640606,21426,BNTBGBY,,64069,BARNETBY DOWN YARD GBRF,
34872,546360,87754,HRSTJN,,,HURST GREEN JUNCTION SIG. BOX,
47792,774006,14001,BRWHBNJ,,77401,BOLDON NORTH JUNCTION,
6431,111000,66519,LONB,LOB,11101,LONGBRIDGE,
55282,987620,05011,LARBUGL,,98762,LARBERT NORTH U.G.L.,
47936,778900,12105,BEAL,,,BEAL,
33784,530400,88101,HOVEYD,,53041,HOVE YARD,
26909,418105,79744,PTLBFHH,,41814,PORT TALBOT GRANGE SDGS FHH,
54787,981360,,GLGCN6L,,,NO6 LOOP,
23813,333702,75241,WTNBGF,,33371,WOOTTON BASSETT GROUND FRAME,

In [ ]:
toc_df = pd.read_json("toc-full.jsonl", lines=True, chunksize=100)

In [33]:
chunkdf = next(toc_df)

In [34]:
chunkdf = pd.json_normalize(chunkdf["TiplocV1"])

In [35]:
chunkdf.sample(10)

,transaction_type,tiploc_code,nalco,stanox,crs_code,description,tps_description
17,Create,ACTONTN,050000,None,ZAT,ACTON TOWN UND,ACTON TOWN
31,Create,ADSWDRD,277101,32561,None,None,ADSWOOD ROAD JN
32,Create,ADWICK,835300,23118,AWK,ADWICK,ADWICK
90,Create,ALLEURL,752010,15705,None,None,URLAY NOOK CROSSOVER
79,Create,ALDWRS,667017,24502,None,None,ALDWARKE REPAIR SIDINGS
6,Create,ACTCWHF,140401,72235,None,None,ACTON CANAL WHARF
80,Create,ALERTN,221400,36192,ALE,ALLERTON,LIVERPOOL SOUTH PW HL
30,Create,ADRG439,121610,65562,None,None,ALDRIDGE SIGNAL WR1439
43,Create,AIRDRIE,975900,07327,ADR,AIRDRIE,AIRDRIE
14,Create,ACTONML,300000,73240,AML,ACTON MAIN LINE,ACTON MAIN LINE